# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.env
venv/
*.sqlite3

# Node / frontend
client/node_modules/
client/dist/
client/.vite/
client/.env*

# Editor
.idea/
.vscode/
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
.pytest_cache/


notes.txt
ADD_MISSING_PEPTIDES.md
